@model IEnumerable<CodingCraft.Cap2.Models.Entities.GrupoProduto>

@{
    ViewBag.Title = "_Index_Foundation";
}

<h2>_Index_Foundation</h2>

<p>
    @Html.ActionLink("Criar Novo", "Criar")
</p>
<table>
    <thead>
        <th></th>
        <th>
            Nome
        </th>
        <th>
            Produtos
        </th>
    </thead>

@foreach (var item in Model) {
    <tbody>
        <td>
			@item.Nome
        </td>
        <td>
			@(item.Produtos == null ? "None" : item.Produtos.Count.ToString())
        </td>

        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.GrupoProdutoId }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.GrupoProdutoId }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.GrupoProdutoId })
        </td>

    </tbody>
}

</table>


